@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: conic-gradient(from 45deg, #ffd8f4, #a095fa, #545ea5, #1f2f52);
}

body {
  background: var(--background) no-repeat;
  height: 100%;
}
